<nav>
  <div class="logo">
    <i class="bx bx-menu menu-icon"></i>
    <span class="logo-name">La Casa del Sabor</span>
  </div>

  <div class="sidebar">
    <div class="logo">
      <i class="bx bx-menu menu-icon"></i><span class="logo-name">{{identity.name}}</span>
    </div>

    <div class="sidebar-content">
      <ul class="lists">
        <li class="list">
          <a routerLink="/home" class="nav-link">
            <i class="bx bx-home-alt icon"></i>
            <span class="link">Inicio</span>
          </a>
        </li>
        <li class="list">
          <a routerLink="/cocinero" class="nav-link">
            <i class="bx bx-user icon"></i>
            <span class="link">Cocinero</span>
          </a>
        </li>
        <li class="list">
          <a href="http://localhost:4000/recetas" class="nav-link">
            <i class="bx bx-bell icon"></i>
            <span class="link">Receta</span>
          </a>
        </li>
        <li class="list">
          <a routerLink="/preparacion" class="nav-link">
            <i class="bx bx-message-rounded icon"></i>
            <span class="link">Pedidos</span>
          </a>
        </li>

      </ul>

      <div class="bottom-cotent">
        <li class="list">
          <a href="" (click)="logout()" class="nav-link">
            <i class="bx bx-log-out icon"></i>
            <span class="link">Logout</span>
          </a>
        </li>
      </div>
    </div>
  </div>
</nav>

<section class="overlay"></section>
