<body>

  <div class="login-card-container">
      <div class="login-card">
          <div class="login-card-logo">
              <img src="../../../assets/img/logo2.png" alt="logo">
          </div>
          <div class="login-card-header">
              <h1>Inicio de Sesión</h1>
              <div>Por favor, inicia sesión para usar el sistema</div>
          </div>
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="login-card-form">
              <div class="form-item">
                  <span class="form-item-icon material-symbols-rounded">mail</span>
                  <input type="email" placeholder="Ingrese tu email" name="emailForm" #email="ngModel" [(ngModel)]="auth.email" autofocus required>
              </div>
              <div class="form-item">
                  <span class="form-item-icon material-symbols-rounded">lock</span>
                  <input type="password" placeholder="Ingrese su contraseña" name="passwordForm" #password="ngModel" [(ngModel)]="auth.password" required>
              </div>
              <button type="submit">Iniciar sesion</button>
          </form>
          <div class="login-card-footer">
            Recuerda: Tu contraseña es personal, cualquier problema informar al administrador.
        </div>
      </div>
  </div>

</body>

